
body {
  font-family: 'Helvetica', sans-serif;
  color: var(--slate);
}

.bt { border-top: 1px solid var(--silver) }
.bb { border-bottom: 1px solid var(--silver) }

.tc { text-align: center }

:root {
  --silver: #ccc;
  --slate: #234;
}

