
@import 'blk';
@import '../css/gravitons.css';

.lh1 { line-height: 1 }

.b  { border: 1px solid var(--silver) }
.bt { border-top: 1px solid var(--silver) }
.bb { border-bottom: 1px solid var(--silver) }

.tc { text-align: center }

.break-word { word-break: break-word }

.caps2 { letter-spacing: .2em }
.caps3 { letter-spacing: .3em }

.c1, .c2, .c3, .c4 {
  column-gap: 2rem;
}

li, .avoid-break { break-inside: avoid }

.cols1 { columns: 20rem }
.cols2 { columns: 24rem }
.cols3 { columns: 28rem }
.cols4 { columns: 32rem }


.Logo-particle-1,
.Logo-particle-2 {
  animation-name: spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.Logo-particle-1 {
  transform-origin: 50% 50%;
  animation-duration: 1s;
}

.Logo-particle-2 {
  transform-origin: 50% 50%;
  animation-duration: 1.25s;
  animation-direction: reverse;
}

@keyframes spin {
  from { transform: rotate(0) }
  to   { transform: rotate(360deg) }
}


