
.c1  { box-sizing: border-box; width: calc(1/12*100%) }
.c2  { box-sizing: border-box; width: calc(2/12*100%) }
.c3  { box-sizing: border-box; width: calc(3/12*100%) }
.c4  { box-sizing: border-box; width: calc(4/12*100%) }
.c5  { box-sizing: border-box; width: calc(5/12*100%) }
.c6  { box-sizing: border-box; width: calc(6/12*100%) }
.c7  { box-sizing: border-box; width: calc(7/12*100%) }
.c8  { box-sizing: border-box; width: calc(8/12*100%) }
.c9  { box-sizing: border-box; width: calc(9/12*100%) }
.c10 { box-sizing: border-box; width: calc(10/12*100%) }
.c11 { box-sizing: border-box; width: calc(11/12*100%) }
.c12 { box-sizing: border-box; width: calc(12/12*100%) }

