
@import 'h.css';
@import 'm.css';
@import 'p.css';
@import 'd.css';
@import 'f.css';
@import 'c.css';

:root {
  --s1: .5rem;
  --s2: 1rem;
  --s3: 2rem;
  --s4: 4rem;

  --h1: 2rem;
  --h2: 1.5rem;
  --h3: 1.25rem;
  --h4: 1rem;
  --h5: .875rem;
  --h6: .75rem;
}

