
.x { display: flex }
.xw { flex-wrap: wrap }
.xc { align-items: center }

.x1 { width: calc(100%/1) }
.x2 { width: calc(100%/2) }
.x3 { width: calc(100%/3) }
.x4 { width: calc(100%/4) }
.x6 { width: calc(100%/6) }
.x8 { width: calc(100%/8) }

.xa { flex: 1 1 auto }
.xn { flex: none }

